In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
count = purchase_data.SN.nunique()

In [3]:
# Display the total number of players
TotalCount = pd.DataFrame({"Total Number":[count]})
TotalCount

   Total Number
0           576

In [4]:
uniqueitem = purchase_data["Item Name"].nunique()
avg = purchase_data.Price.mean()
purchase = (purchase_data["Purchase ID"]).count()
revenue = purchase_data.Price.sum()

Total = pd.DataFrame(
        { "Number of Unique Items":[uniqueitem],
          "Average Price": [avg],
          "Number of Purchases": [purchase],
          "Total Revenue ": [revenue]  
        })

Total

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780         2379.77

In [5]:
gender_total = purchase_data.groupby('Gender')['SN'].nunique()
gender_percentage = gender_total/gender_total.sum() * 100
gender_percentage
Final = pd.DataFrame({'Total Count': gender_total, 'Percentage of Players': gender_percentage}) 
                    
Final = Final.sort_values("Total Count",ascending =[False])
Final

                       Total Count  Percentage of Players
Gender
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722

In [6]:
total_purchase = purchase_data.groupby('Gender')['Price'].count()

total_average = purchase_data.groupby('Gender')['Price'].mean()

total_value= purchase_data.groupby('Gender')['Price'].sum()

average_person = total_value/gender_total
Final1 = pd.DataFrame({'Purchase Count': total_purchase,
                      'Average Purchase price': total_average,
                       'Total Purchase Value': total_value,
                       'Avg Total Purchase per Person': average_person
                      })
Final1

,Purchase Count,Average Purchase price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [7]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 45]
labels = ["<10","10 to 14","15 to 19","20 to 24", "25 to 29", "30 to 34", "35 to 39", "40+"]
pd.cut(purchase_data["Age"], bins, labels=labels).head()
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=labels)
#purchase_data.head()

In [8]:
age_group = purchase_data.groupby("Age Group")

age_unique = age_group.SN.nunique()

age_percent = age_unique/age_unique.sum() * 100
#age_percent
Final2 = pd.DataFrame({'Total Count': age_unique,
                       'Percentage of Players': age_percent})
Final2

           Total Count  Percentage of Players
Age Group
<10                 17               2.951389
10 to 14            22               3.819444
15 to 19           107              18.576389
20 to 24           258              44.791667
25 to 29            77              13.368056
30 to 34            52               9.027778
35 to 39            31               5.381944
40+                 12               2.083333

In [9]:
age_count = age_group.SN.count()
tot_vol = age_group.Price.sum()
avg_tot = tot_vol/age_count
avg_purchase = tot_vol/age_unique

Final3 = pd.DataFrame({'Purchase Count': age_count,
                    'Average Purchase Price': avg_tot,
                    'Total Purchase Value': tot_vol,
                    'Avg Total Purchase per person': avg_purchase
                   })
Final3
#print(purchase_count)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per person
Age Group,,,,
<10,23,3.353478,77.13,4.537059
10 to 14,28,2.956429,82.78,3.762727
15 to 19,136,3.035956,412.89,3.858785
20 to 24,365,3.052219,1114.06,4.318062
25 to 29,101,2.900990,293.00,3.805195
30 to 34,73,2.931507,214.00,4.115385
35 to 39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667